
<mat-toolbar style="background-color: #34ebc6">
    <div>
      <p style="padding-left: 50%;">Event Feedback App</p>
    </div>
  </mat-toolbar>
<app-feedback-create></app-feedback-create>
<app-feedback-list></app-feedback-list>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<mat-toolbar style="background-color: #34ebc6">
  <div>
    
  <span style="padding-left: 20%;"> By: Abhishek Das ( 201800647 ,Sec : A, Roll No: 61)</span>
  </div>
</mat-toolbar>